


  .bg-cover {
    background-size: cover;
  }
  
  .bg-center {
    background-position: center;
  }
  #root {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
   
  }


